<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clinicappproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicAppProject">
        <activity
            android:name=".DisplayPatientAppointmentOptions"
            android:parentActivityName=".PatientActivity"/>
        <activity
            android:name=".ChooseSpecificTime"
            android:exported="true" />
        <activity
            android:name=".ScheduleDisplay"
            android:exported="true" />
        <activity
            android:name=".UpcomingSchedule"
            android:exported="true" />
        <activity
            android:name=".DisplayDoctorAppointmentOptions"
            android:exported="true"
            android:parentActivityName=".DoctorActivity" />
        <activity
            android:name=".ChooseUpcomingWeekTime"
            android:exported="true" />
        <activity
            android:name=".PatientAppointment"
            android:exported="true" />
        <activity
            android:name=".BookingFinalPage"
            android:exported="true" />
        <activity
            android:name=".LoginChooseTestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientLoginTest"
            android:exported="true"
            android:parentActivityName=".LoginChooseTestActivity" />
        <activity android:name=".ChooseDoctor" />
        <activity android:name=".MyProfileActivity" />
        <activity
            android:name=".DoctorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayAppointmentActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BookAppointmentActivity" />
        <activity
            android:name=".DoctorLoginTest"
            android:parentActivityName=".LoginChooseTestActivity" />
        <activity android:name=".PatientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>